// Variables
@import "variables";
@import "mixins";

html, body {
  font-family: $font-family-sans-serif;
}

body {
  background-color: $body-bg;
}

/* Globals */
[v-cloak] {
  display: none;
}

.hidden {
  display: none !important;
}

.hidden-surround {
  border: 0;
  background-color: transparent;
  box-shadow: none;
}

.add-shadow {
  @include prefix((
          box-shadow: 0 4px 6px rgba(10, 10, 10, 0.2)
  ), webkit);
}

.add-shadow-2x {
  @include prefix((
          box-shadow: 0 8px 12px rgba(10, 10, 10, 0.3)
  ), webkit);
}

.square-corners {
  border-radius: 0;
}

@keyframes slide-in-from-bottom-50 {
  0% {
    display: none;
    opacity: 0;
    transform: translateY(50%) matrix(0.95, 0, 0, 0.95, 0, 80);
  }
  100% {
    opacity: 1;
    transform: translateY(0) matrix(1, 0, 0, 1, 0, 0);
  }
}

@keyframes slide-in-from-bottom-700 {
  0% {
    display: none;
    opacity: 0;
    transform: translateY(700%) matrix(0.95, 0, 0, 0.95, 0, 80);
  }
  100% {
    opacity: 1;
    transform: translateY(0) matrix(1, 0, 0, 1, 0, 0);
  }
}

.drop-in-transition {
  animation: slide-in-from-bottom-50 400ms ease-out;
  transition: all 620ms cubic-bezier(0.26, 1.58, 0.7, 0.9);
  opacity: 1;
}

.drop-in-transition-delay2 {
  animation: slide-in-from-bottom-700 1s ease-out;
  transition: all 620ms cubic-bezier(0.26, 1.58, 0.7, 0.9);
  opacity: 1;
}


/* Advanced Search */
.search-advanced {
  padding: 20px 25px 35px;
}

.multiselect__tags-wrap .tag {
  margin-right: 8px;
  margin-bottom: 8px;
}

.house-footer {
  font-size: 13px;
  font-weight: 500;
  color: #828282;
  margin-left: 5px;
}

.subtitle.is-8 {
  font-size: 0.8rem;
}

/* Equal Card Heights */
.card-equal-height {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  height: 100%;
  flex-flow: column nowrap;
}
.card-equal-height .card-footer {
  margin-top: auto;
}

a.nav-item.is-tab {
  &:active,
  &:focus,
  &:hover {
    border-bottom-color: $nav-underline;
    color: $nav-underline;
  }

  &.is-active {
    border-bottom-color: $nav-underline;
    color: $nav-underline;
  }
}

.index-hero {
  background-color: #00d1b2;
  padding-top: 3.5rem !important;
  padding-bottom: 6rem;
}

.is-bottom-gradient {
  background-image: linear-gradient(to bottom, $hero-main-bg 0%, #00d1b2 75%, #fff 100%);
}

.index-search {
  p:first-of-type {
    width: 100%;
  }

  p input,
  p a {
    height: 50px;
  }
}

.search-advanced {

  label {
    color: #8a8a8a;
    font-size: 11px;
    font-weight: 400;
    margin-left: 5px;
  }

  .main-search,
  .main-search div {
    width: 100%;
  }

  .multiselect--active {
    z-index: 10;
  }

  .range-slider {
    margin-top: -3rem;

    .column {
      display: flex;
      justify-content: space-between;
    }

    span {
      font-size: 12px;
      font-weight: 600;
    }
  }
}

.home-card .card > small {
  margin: 10px 10px 0;
}

.home-card .card-content {
  padding-top: 1rem;
}

.card .media-content p.title,
.card .media-content p.subtitle {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.index-subtitle {
  margin-top: 3rem;
}

.home-card .card-footer > .card-footer-item {
  border-right: 0;
}

.card-price {
  font-size: 1.3rem;
}

.favorite-icon {
  cursor: pointer;

  &:hover .fa-heart-o:before {
    content: '\f004';
  }
}

/* Login */
.login-hero {
  background-color: #00d1b2;

  .card-header {
    box-shadow: 0 1px rgba(10, 10, 10, 0.1);
  }

  .login-btn {
    height: 3em;
    width: 100%;
  }

  a.nav-item {
    color: lighten(#000, 45%) !important;
    font-size: 0.8rem;
    line-height: 1.5rem;

    &:active,
    &:focus,
    &:hover {
      color: #000 !important;
    }
  }

  .hero-foot li {
    font-size: 0.8rem;
    padding: 0.5rem;
    width: 100%;
  }

  header.nav {
    box-shadow: none;
  }

  .title {
    font-weight: 200;
  }

  .login-bold {
    font-weight: 400;
  }

  .login-light {
    font-weight: 200;
  }

  input,
  textarea {
    border: 0;
    border-radius: 0;
    box-shadow: none;
    border-bottom: 2px solid #b5b5b5;
    text-align: center;
    background: transparent;
    color: #000;
    resize: none;

    &:active,
    &:focus {
      border-bottom: 2px solid #000;
      outline: 0;
    }

    &:hover {
      border-bottom: 2px solid darken(#b5b5b5, 20%);
    }
  }

  .field:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .switch input[type=checkbox]:checked + .check {
    background: #00d1b2;
  }

  .switch:focus input[type=checkbox]:checked + .check {
    -webkit-box-shadow: 0 0 0.5em transparentize(#00d1b2, 0.2);
    box-shadow: 0 0 0.5em transparentize(#00d1b2, 0.2);
  }

  .switch:hover input[type=checkbox]:checked + .check {
    background: transparentize(#00d1b2, 0.1);
  }

  .login-btn {
    background-color: #00d1b2;
    border-radius: 0;

    &:active,
    &:focus,
    &:hover {
      background-color: darken(#00d1b2, 3%);
    }
  }
}

/* Properties */
.navbar.property-nav {
  background-color: #00d1b2;
  color: #fff;

  a {
    color: #fff;

    &:active,
    &:focus,
    &:hover {
      color: #fff;
    }
  }

  .input.hidden-surround {
    border: 0;
    background-color: transparent;
    box-shadow: none;

    &::-webkit-input-placeholder {
      color: #fff;
    }
    &::-moz-placeholder {
      color: #fff;
    }
    &:-ms-input-placeholder {
      color: #fff;
    }
    &:-moz-placeholder {
      color: #fff;
    }
  }
}

.container.property-list {
  margin-bottom: 25px;
  margin-top: 25px;
}

// Pagination
.pagination {
  padding-bottom: 15px;

  &-previous {
    color: $pagination-outline;
    margin-left: 15px;

    &:active,
    &:focus,
    &:hover {
      border-color: #dbd;
    }
  }

  &-next {
    color: $pagination-outline;
    margin-right: 15px;

    &:active,
    &:focus,
    &:hover {
      border-color: #dbd;
    }
  }

  .pagination-link {
    color: $pagination-outline;

    &:active,
    &:focus,
    &:hover {
      border-color: #dbd;
      color: #000;
    }

    &.is-current {
      border-color: $pagination-fill;
      background-color: $pagination-fill;
      color: #fff;
    }
  }
}

.house {
  padding: 5rem 0;

  .house-titles {
    margin-bottom: 3rem;
  }

  .house-status {
    font-size: 1.3rem;
    font-weight: 200;
  }

  .card-header .price {
    width: 100%;
    padding: 1rem;
  }

  .card-content {
    font-size: 0.8rem;

    .item-title {
      font-weight: 600;
    }
  }

  .card-content hr {
    margin-top: -0.1rem;
  }

  figure.image.is-16by9 {
    height: 100%;
    width: 100%;

    #map {
      bottom: 0;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      width: 100%;
    }
  }
}

.selection-buttons {
  margin-top: -5rem;
  position: absolute;
  width: 100%;

  .not-active {
    opacity: 0.6;
  }
}

$circle-size: 40px;
$outside-circle-size: $circle-size + 10px;
$outside-circle-border: 2px;
$outside-circle-margin: ($outside-circle-size / 2) * -1;

.image-button{
  text-align: center;
  font-size: 20px;

  &:before{
    border-radius: $circle-size;
    border: $outside-circle-border solid #468cdc;
    box-shadow: 0 0 15px rgba(0, 255, 204, 0.15), 0 0 15px rgba(0, 255, 204, 0.15) inset;
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    height: $outside-circle-size;
    width: $outside-circle-size;
    margin-left: $outside-circle-margin;
    margin-top: $outside-circle-margin;
    opacity: 1;
    transform: scale(1);
    transition: all 300ms;
  }

  &:hover:before{
    transform: scale(1.05);
  }

  &.circle{
    background: #23466e;
    border: none;
    border-radius: 900px;
    color: #e4ecfa;
    cursor: pointer;
    display: inline-block;
    width: $circle-size;
    height: $circle-size;
    line-height: $circle-size;
    position: relative;
    margin: auto;
    margin-top: 25px;
    margin-right: 15px;
    transition: 0.5s;

    &:hover {
      background: #3e70aa;
      padding: -2px;
    }
  }

  .fa {
    margin-top: -3px;
    vertical-align: middle;
  }
}

.card.contact-us-card {
  background-color: #00d1b2;

  .subtitle {
    font-size: 1rem;
    font-weight: 300;
  }

  .contact-us-bold {
    font-weight: 400;
  }

  .contact-us-light {
    font-weight: 200;
  }

  input,
  textarea {
    border: 0;
    border-radius: 0;
    box-shadow: none;
    border-bottom: 2px solid #000;
    text-align: center;
    background: transparent;
    color: #000;
    resize: none;

    &:active,
    &:focus {
      outline: 0;
    }
  }

  .card-footer {
    background-color: darken(#00d1b2, 3%);
    border-top: 0;

    &:active,
    &:focus,
    &:hover {
      background-color: darken(#00d1b2, 5%);
      cursor: pointer;
    }
  }
}

.affiliates img {
  border-radius: 7px;
  width: 200px;
}

footer.site {
  background-color: #00d1b2;

  > .container {
    padding: 5rem 0 2rem 0;
  }

  .disclaimer {
    hr {
      margin-top: 0.5rem;
      margin-bottom: 1rem;
    }

    span:not(:first-of-type) {
      font-size: 0.9rem;
    }

    .contact-number:not(:first-of-type) {
      margin-left: 25px;
    }
  }
}

.lower-footer {
  background-color: darken(#00d1b2, 3%);

  .container {
    padding: 1rem 0;
  }

  a {
    color: darken(#fff, 15%);
    font-size: 0.8rem;
    line-height: 1.5rem;

    &:active,
    &:focus,
    &:hover {
      color: #fff;
    }
  }
}
